/*movies block styles*/
#Actors div.singleActorBlock {
    position: relative;
    width: 249px;
    height: 350px;
    float: left;
    text-align: center;
    margin: 10px;
}
#Actors div.singleActorBlock:hover {
    cursor: pointer;
}

#Actors div.infoBlock {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    opacity: 0.8;
    color: #cccccc;
}

#Actors {
    overflow: auto;
    position: relative;
    margin: 0 auto;
}

#Actors h1 {
    margin: 20px 22px 8px;
    color: #056E8D;
}

#loader {
    display: none;
    position: absolute;
    right: 578px;
    bottom: 30px;
}
#Actors img.miniActorImg {
    width: 100%;
    height: 100%;
}
#loadBlock {
    background: #ccc;

    opacity:0.7;
}
#loaderImage {
    margin: auto;
    margin-top: 250px;
}
#Actors img.miniActorImg.noPhoto{
    margin-top: 10%;
    height: auto;
    width: auto;
}