/*favorites button and block styling*/

#favSection {
    position: absolute;
    z-index: 4;
    left: 75%;
    opacity: 0;
    width: 25%;
    height: 70%;
    float: right;
    text-align: center;
    background: #C5E2FF;
    padding: 17px 0px;
    min-height: 600px;
    overflow: hidden;
}

#favSection.fix-fav {
   position: fixed;
    height: 100%;
    left: 70.01%;
    width: 19.99%;
    overflow: scroll;
}
#favSection .favMovieBlock {
    position: relative;
    width: 70%;
    margin: 0% 0% 5% 15% ;
    height: 250px;
    cursor: pointer;
    overflow: hidden;

}
.favMovieImg {
    width: 100%;
    height: 100%
   /* border-top-right-radius: 6px;*/
}
.favInfoBlock {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    opacity: 0.8;
    color: #cccccc;

}
.favDelBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background-image: url(../images/recyclebin3.png) ;
    width: 30px;
    height: 30px
    /*border-radius: 6px;*/

}

.favDelBtn:hover {
    border: 1px solid #cccccc;
    cursor: pointer;
    height: 31px;
}