#favSection {
  position: absolute;
  z-index: 1;
  left: 75%;
  opacity: 0;
  width: 25%;
  height: 100%;
  float: right;
  text-align: center;
  background: #c5e2ff;
  padding: 17px 0px;
  min-height: 600px;
  overflow-y: scroll;
  overflow-x: visible; }
  #favSection.fix-fav {
    position: fixed;
    left: 70.01%;
    width: 19.99%; }
  #favSection .favMovieBlock {
    position: relative;
    width: 70%;
    margin: 0 auto 5%;
    height: 250px;
    cursor: pointer; }

.favMovieImg {
  width: 100%;
  height: 100%; }

.favInfoBlock {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  opacity: 0.8;
  color: #cccccc; }

.favDelBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background-image: url(../images/recyclebin3.png);
  width: 30px;
  height: 30px; }
  .favDelBtn:hover {
    border: 1px solid #cccccc;
    cursor: pointer;
    height: 31px; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background-color: #eaeaea; }

::-webkit-scrollbar-thumb {
  background-color: #cccccc; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa; }
