/*favorites button and block styling*/

#favoritesButton {
}

#favSection {
    position: absolute;
    z-index: 0;
    left: 75%;
    opacity: 0;
    width: 25%;
    float: right;
    text-align: center;
    background: #C5E2FF;
    padding: 17px 0px;
}

.movieIcon {
    width: 80%;
    height: 200px;
    background: #ccc;
    margin: 10px auto;
}

.fix-fav {
    position: fixed;
    top: 100px;
    height: 100%;
}