/*block with news(home page block) styles*/
#News {
    margin: 10px;
    z-index: 6;
    overflow: auto;
}

.singleNewsBlock {
    position: relative;
    height: 315px;
    width: 90%;
    margin: 23px 0 50px 0;
}

.newsPic {
    width: 60%;
    height: 100%;
}

.newsInfo {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    background: #E9F4F3;
    opacity: 0.9;
    width: 40%;
    height: 100%;
    padding: 20px;
    border-top: none;
    border-right: none;
}
.newsHeader{
    position: relative;
    width: 150%;
    right: 41%;
    background: #C5E2FF;
    opacity: 1;
    overflow: visible;
    z-index: 10;
    padding: 7px 20px;
}
.newsInfo .newsArticle {
    padding: 5px;
    height: 90%;

    overflow: auto;
}