/*block with news(home page block) styles*/
.newsBlocks {
    width: 550px;
    margin: 10px;
    background: #fff;
    padding: 20px;
    overflow: auto;
    border-bottom: 1px solid #6EC1E0;
}

.newsPic {
    width: 207px;
    height: 138px;
    float: left;
    margin-right: 25px;
}
