#News {
  margin: 10px;
}
#News h1 {
  color: #333;
  margin-left: 5%;
  font-size:2rem;
}

#News .singleNewsBlock {
  width: 90%;
  margin: 20px auto;
  background: #e9f4f3;
}

#News .singleNewsBlock:before {
    display: block;
    content: " ";
  }
#News .singleNewsBlock:after {
    display: block;
    content: " ";
    clear: both; 
}  
#News .newsPic {
  width: 25%;
  float:left;
  overflow: hidden;
}
.newsPic a {
  display:block;
}

#News .newsPic img {
  width:100%;
}
#News .newsPic img:hover {
  transform:scale(1.1,1.1);
}
#News .newsInfo {
  float:left;
  width:73%;
  margin-left:2%;
}
#News .newsHeader {
  background: #c5e2ff;
  padding: 7px 20px;
  font-size:1.5rem;

}
#News .newsHeader:hover{
  text-decoration:underline;
  cursor:pointer;
  font-size:1.6rem;
}
#News .newsHeader>a{
    color:#056e8d;
}

#News .newsInfo .newsArticle {
  padding: 5px;
  height: 90%;
  font-size: 1rem;
}

#News a {
  color:#999;
}
#News a:hover{
  text-decoration:underline;
}
#News a:active{
  color:#777;
}
