/*block with news(home page block) styles*/
.newsBlocks {
    width: 550px;
    height: 150px;
    margin: 5px;
    border: 2px solid #db5a3c;
    border-radius: 6px;
    background: #cccccc;
}

.newsPic {
    width: 207px;
    height: 138px;
    float: left;
}
