* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
/*    overflow: auto;*/
}


/*******     BASE     *******/


body{
    margin: 0 auto;
    width: 950px;
    background-color:#f5f5f5;
    background-image: -webkit-radial-gradient(#d1d7fd 15%, transparent 16%), -webkit-radial-gradient(#d1d7fd 15%, transparent 16%);
    background-image: radial-gradient(#d1d7fd 15%, transparent 16%), radial-gradient(#d1d7fd 15%, transparent 16%);
    background-size:60px 60px;
    background-position: 0 0, 30px 30px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

a {
    text-decoration: none;
}

/*******     LAYOUT     *******/

#header {
    width: 100%;
    height: 200px;
    position: relative;
}

#mainMenu {
    height: 55px;
    text-align: center;
    overflow: hidden;
    position: static;
}


/*******     MODULES     *******/


.logo-backgr {
    background: #646060;
    text-align: center;
}

.logo-dimentions {
    height: 145px;
}
.logo{
 display: inline-block;
  box-shadow:
    0 0 0 1em #68a4f7,
    0 1em 0 1em #68a4f7,
    -2.5em 1.5em 0 .5em #68a4f7,
    2.5em 1.5em 0 .5em #68a4f7,
    -3em -3em 0 0 #68a4f7,
    3em -3em 0 0 #68a4f7,
    -2em -2em 0 0 #68a4f7,
    2em -2em 0 0 #68a4f7,
    -3em -1em 0 0 #68a4f7,
    -2em -1em 0 0 #68a4f7,
    2em -1em 0 0 #68a4f7,
    3em -1em 0 0 #68a4f7,
    -4em 0 0 0 #68a4f7,
    -3em 0 0 0 #68a4f7,
    3em 0 0 0 #68a4f7,
    4em 0 0 0 #68a4f7,
    -5em 1em 0 0 #68a4f7,
    -4em 1em 0 0 #68a4f7,
    4em 1em 0 0 #68a4f7,
    5em 1em 0 0 #68a4f7,
    -5em 2em 0 0 #68a4f7,
    5em 2em 0 0 #68a4f7,
    -5em 3em 0 0 #68a4f7,
    -3em 3em 0 0 #68a4f7,
    3em 3em 0 0 #68a4f7,
    5em 3em 0 0 #68a4f7,
    -2em 4em 0 0 #68a4f7,
    -1em 4em 0 0 #68a4f7,
    1em 4em 0 0 #68a4f7,
    2em 4em 0 0 #68a4f7;

    background: #68a4f7;
    width: 1em;
    height: 1em;
    overflow: hidden;

    margin: 50px 0 70px 65px;
  }


.page-header {
    color: #eee;
    font-size: 3em;
    display: inline-block;
}

.page-header span {
    font-size: 0.64em;
    top: -30px;
    position: relative;
}

.header-wrapper {
    padding-top: 7px;
}

.registration {
    position: absolute;
    top: 0px;
    left: 780px;
}

.registration a {
    float: left;
    color: #eee;
    display: inline-block;
    padding: 8px;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
}

.registration a:hover {
    color: #6ec1e0;
}

.menuButton {
    width: 187px;
    display: inline-block;
    float: left;
    position: inherit ;
    overflow: hidden;
    color: #fff;
    padding: 17.5px 59px;
    border: 0;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s
}

.menuButton:hover {
    cursor: pointer;
    background: #01aadd;
}

.menuButton ul {
    visibility: hidden;
    width: inherit;
    cursor: pointer;
    background: #01aadd;
}

.menuButton ul li {
    height: 30px;
    line-height: 30px;
}



.menuButton ul li:hover {
    background: #eee;
    color: #01aadd;
}

.menuButton:hover ul {
    visibility: visible;
    position: absolute;
    left: 187px;
    top: 200px;
    list-style-type: none;
    
}

.menu-color {
    background: #6ec1e0;
    border-top: 2px solid #3A77B3;
}






























