* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0% 10% 0% 10%;
  background-color: whitesmoke;
  background-image: -webkit-radial-gradient(#edefff 15%, transparent 16%), -webkit-radial-gradient(#edefff 15%, transparent 16%);
  background-image: radial-gradient(#edefff 15%, transparent 16%), radial-gradient(#edefff 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  position: relative; }

a {
  text-decoration: none; }

#header {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 2; }

#mainMenu {
  height: 55px;
  text-align: center;
  overflow: hidden;
  position: static; }

#mainContent {
  width: 100%;
  overflow: auto;
  min-height: 630px;
  position: static;
  padding-bottom: 10%; }

#footer {
  width: 100%;
  height: 80px;
  clear: both;
  z-index: 1;
  position: relative; }

.logo-backgr {
  background: #646060;
  cursor:pointer;
}

.logo-dimentions {
  height: 145px;
  text-align: center; }

.logo {
  display: inline-block;
  background: url(../images/logo.png);
  height: 121px;
  width: 205px;
  position: relative;
  left: 10px;
  top: 6px;
  cursor: pointer; }

.page-header span {
  font-size: 0.64em;
  top: -30px;
  position: relative; }

.header-wrapper {
  padding-top: 7px; }

.registration {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  width: 159px;
  text-align: right; }
  .registration a {
    float: left;
    color: #eeeeee;
    display: inline-block;
    padding: 8px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
    .registration a:hover {
      color: #6ec1e0; }

.main-menu-wrapper {
  display: block;
  width: 100%; }

.menuButton {
  width: 17.60532%;
  display: inline-block;
  
  float: left;
  position: inherit;
  overflow: hidden;
  color: white;
  border: 0;
  line-height: 100%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; 
}

.menuButton>a, .serviceMenu{
  display:block;
  color:white;
  padding: 17.5px 0 19px;
}
  .menuButton:hover {
    cursor: pointer;
    background: #01aadd; }

.menuButtonHovered {
  background: #0382a8; }

.toggle-menu {
  display: none; }

.menuButton ul {
  visibility: hidden;
  position: absolute;
  list-style-type: none;
  left: 17.60532%;
  top: 200px;
  width: 17.60532%;
  cursor: pointer;
  background: #01aadd; }
  .menuButton ul li{
    height: 30px;
    line-height: 30px; }
    .menuButton ul li>a{
      color:white;
    }
    .menuButton ul li:hover {
      background: #eee;
       }
       .menuButton ul li>a:hover{color: #01aadd;}
.menuButton:hover ul {
  visibility: visible;
  z-index: 20; }

.menu-color {
  background: #6ec1e0;
  border-top: 2px solid #3a77b3; }

.content-background {
  background: floralwhite; }

.footer-par {
  color: white;
  position: relative;
  top: 37px;
  left: 66px;
  font-size: 0.9em; }
