* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
/*    overflow: auto;*/
}


/*******     BASE     *******/


body{
    margin: 0% 10% 0% 10%;
    background-color:#f5f5f5;
    background-image: -webkit-radial-gradient(#EDEFFF 15%, transparent 16%), -webkit-radial-gradient(#EDEFFF 15%, transparent 16%);
    background-image: radial-gradient(#EDEFFF 15%, transparent 16%), radial-gradient(#EDEFFF 15%, transparent 16%);
    background-size:60px 60px;
    background-position: 0 0, 30px 30px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    position: relative;
}

a {
    text-decoration: none;
}

/*******     LAYOUT     *******/

#header {
    width: 100%;
    height: 200px;
    position: relative;
}

#mainMenu {
    height: 55px;
    text-align: center;
    overflow: hidden;
    position: static;
}

#mainContent {
    width: 100%;
    overflow: auto;
    min-height: 630px; /*changed from 600 to 620*/
    position: static;
}

#footer {
    width: 100%;
    height: 65px;
    clear: both;
}


/*******     MODULES     *******/


/*** header ***/

/** logo **/
.logo-backgr {
    background: #646060;
}

.logo-dimentions {
    height: 145px;
    text-align: center;
}
.logo{
 display: inline-block;
  background: url(../images/logo.png);
    height: 121px;
    width: 205px;
    position: relative;
    left: 10px;
    top: 6px;
    cursor: pointer;
  }


/*
.page-header {
    color: #eee;
    font-size: 3em;
    display: inline-block;
    position: relative;
    top: -43px;
    left: -16px;
    cursor: pointer;
}
*/

.page-header span {
    font-size: 0.64em;
    top: -30px;
    position: relative;
}

.header-wrapper {
    padding-top: 7px;
}


/** registration **/

.registration {
   position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    width: 159px;
    text-align: right;
}

.registration a {
    float: left;
    color: #eee;
    display: inline-block;
    padding: 8px;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
}

.registration a:hover {
    color: #6ec1e0;
}





/** menu **/

.main-menu-wrapper {
    display: block;
    width: 100%;
}

.menuButton {
    width: 17.60532384993222%;
    display: inline-block;
    float: left;
    position: inherit ;
    overflow: hidden;
    color: #fff;
    padding: 17.5px 0 19px;
    border: 0;
    line-height: 16px;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s
}

.menuButton:hover {
    cursor: pointer;
    background: #01aadd;
}

.menuButtonHovered {
    background: #0382a8;
}

.toggle-menu {
    display: none;
}

/* dropdown */

.menuButton ul {
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    left: 17.60532384993222%;
    top: 200px;
    width: 17.60532384993222%;
    cursor: pointer;
    background: #01aadd;
}

.menuButton ul li {
    height: 30px;
    line-height: 30px;
}



.menuButton ul li:hover {
    background: #eee;
    color: #01aadd;
}

.menuButton:hover ul {
    visibility: visible;
     z-index: 20; 
    
}

.menu-color {
    background: #6ec1e0;
    border-top: 2px solid #3A77B3;
}


    /*** content ***/

.content-background {
    background: #FFFAF0;
}

.fooer-par {
    color: #fff;
    position: relative;
    top: 24px;
    left: 66px;
}
























