/*movies block styles*/

#singleMovie h1 {
    color: rgb(51, 51, 51);
    font-size: 2em;
    margin: 10px;
    text-align: center;
}

#singleMovie .poster {
	margin-right:30px;
	float:left;
}
#singleMovie q {
	font-style:italic;
	display:inline-block;
	margin-bottom: 15px;
    margin-top: 20px;
    width: 500px;
}

#singleMovie li {
	list-style:none;
	padding:5px;
}

#singleMovie .sp_bold {
	font-weight:bold;
}

#singleMovie blockquote {
	background-color: rgba(110, 193, 224, 0.8);
    border-radius: 5px;
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
    padding: 7px;
    text-align: justify;
    width: 500px;
}

#singleMovie a:hover{
	text-decoration:underline;
}

#singleMovie img.screenshot{
    float:left;
    margin:7px;
}

#singleMovie .carousel{
    background: none repeat scroll 0 0 #ccc;
    height: 188px;
    margin: 10px auto;
    overflow: hidden;
    width: 800px;
}
#singleMovie .carousel-nav{
    margin:5px auto;
    width:250px;

}
#singleMovie .controls{
    background: none repeat scroll 0 0 rgba(110, 193, 224, 0.5);
    height: 50px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    display: inline-block;
}
#singleMovie .controls:hover{
    background-color: rgba(110, 193, 224, 1);
}
#singleMovie .controls:active{
    background-color: rgba(110, 193, 224, 0.8);
}



#singleMovie .actors{
    background:#c8dae0;
    margin: 5px auto;
    width: 55%;

}

#singleMovie .single_actor{
    width:92px;
    height:200px;
    background:white;
    float:left;
    margin:7px;
}
.single_actor:after{
    content:"";
    display:block;
    clear:both;
}

#singleMovie .act_name {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#singleMovie .act_role{
    display: inline-block;
    font-size: 11px;
    font-style: italic;
    text-align: center;
    width: 100%;
}

#img-container{
    background: #c5e2ff;
    display: inline-block;
    height: 189px;
    position:relative;
}


#singleMovie .screenshot{
    float: left;
    margin: 10px;
    display:block;
}

#slider{
    display: inline-block;
    height: 189px;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
}


#singleMovie .control{
    background-color: rgba(110, 193, 224, 0.8);
    display: inline-block;
    font-weight: bold;
    height: 50px;
    vertical-align: middle;
    width: 80px;
}

#carousel{
    margin: 0 auto;
    width: 80%;
}














































#singleMovie iframe{
    display: block;
    margin: 0 auto;
}

