/*movies block styles*/
div.singleMovieBlock {
    position: relative;
    width: 249px;
    height: 373px;
    float: left;
    text-align: center;
    margin: 10px;
}
div.singleMovieBlock:hover {
    cursor: pointer;
}

div.infoBlock {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    opacity: 0.8;
    color: #cccccc;
}

#Movies {
    overflow: auto;
    position: relative;
    margin: 0 auto;
}

#Movies h1 {
    margin: 20px 22px 8px;
    color: #056E8D;
}

#loader {
    display: none;
    position: absolute;
    right: 578px;
    bottom: 30px;
}
img.miniMovieImg {
    width: 100%;
}
#loadBlock {
    background: #ccc;

    opacity:0.7;
}
#loaderImage {
    margin: auto;
    margin-top: 250px;
}