/*movies block styles*/
div.singleMovieBlock {
    position: relative;
    width: 33.333%;
    height: auto;
    float: left;
    text-align: center;
    margin: 10px 0;
    padding: 0 10px;
}
div.singleMovieBlock:hover {
    cursor: pointer;
}
#Movies .imgWrap {
    position: relative;
}
div.infoBlock {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    opacity: 0.8;
    color: #cccccc;
}
#Movies {
    overflow: auto;
    position: relative;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
#Movies .searchResInfo{
    color: #01aadd;
    font-size: 1.1em;
}
#Movies h1 {
    margin: 20px 22px 8px;
    color: #056E8D;
}

#loader {
    display: none;
    position: absolute;
    right: 578px;
    bottom: 30px;
}
img.miniMovieImg {
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
}
#loadBlock {
    background: #ccc;

    opacity:0.7;
}
#loaderImage {
    margin: auto;
    margin-top: 250px;
}
.toTopBtn{
    position: fixed;
    top: 0;
    left: 5px;
    height: 100%;
    width: 9%;

    background: #1396BF;
}
.toTopBtn:hover{
    opacity: 0.5;
}
.upArrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-bottom: 20px solid black;
    margin: auto;
}
#scrollTopBtn:hover .scrolP{
    display: block;
}
#scrollTopBtn .scrolP {
    display: none;
    margin-left: 15%;
    font-size: 1.5em;
}

@media only screen  and (max-width: 1153px) {
    div.infoBlock {
        font-size: 0.7em;
        visibility: visible;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
    }
    div.infoBlock:hover {}
}
@media only screen and (max-width: 970px) {
    div.infoBlock {
        font-size: 0.7em;
        visibility: visible;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
    }
    div.infoBlock:hover {}
}
@media only screen and (max-width: 740px) {
    div.infoBlock {
        font-size: 0.7em;
        visibility: visible;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
    }
    div.infoBlock:hover {}
    #scrollTopBtn {
        display: none ;
    }
}

@media only screen and (max-width : 480px) {
    div.singleMovieBlock {
       width: 50%;
    }
    div.infoBlock {
        font-size: 0.7em;
        visibility: visible;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
    }
    div.infoBlock:hover {}
    .toTopBtn {
        position: fixed;
        top: 0;
        left: 5px;
        height: 100%;
        width: 9%;

        background: #cccccc;
    }
}
