@media only screen and (min-width: 590px) and (max-width: 1027px) {
/********* SEARCH  ***************/
    .srch-buttons-wrapper {
        width: 41%;
    }
}

@media only screen  and (min-width: 1000px) {
/********* SEARCH  ***************/
    .label-wrapper {
        width: 41%;
        height: 40px;
        margin: 32px 0 0 0;
        float: left;
    }
}

@media only screen and (max-width: 970px) {
    #singleMovie .trailer {
        width: 100%;
    }
    #singleMovie .overview {
        width: 100%;
        height: auto;
        overflow: auto;
    }
}

@media only screen and (min-width: 741px) and (max-width: 1000px) {
/********* SEARCH  ***************/
     .search-input {
         width: 30%;
     }
    
    .label-wrapper {
        float: left;
        width: 47%;
        margin: 32px 0 0 0;
    }
    
    .clear-fix {
        height: 10px;
    }
    
    .search-button {
        margin-left: 2%;
    }
    
}

@media only screen and (max-width: 740px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
    
    #header {
        width: 100%;
        height: 356px;
        position: relative;
    }
    /** menu **/
    #menuMovies ul {
        display: none;
    }
    
    
    #mainMenu {
        height: 211px;
    }
    
    .menuButton {
        display: block;
        width: 100%;
    }
    
    .toggle-menu {
        width: 30px;
        height: 30px;
    }
    
    #favoritesButton {
        display: none;
    }
    
    
    
/********* SEARCH  ***************/
   
    .search-input {
        width: 91%;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    
    .label-wrapper {
        margin-left: 8%;
        margin-top: 0;
        width: 60%;
    }
    
    .search-button {
        margin: 0 0 0 4%;
    }
    
    .clear-fix {
        height: 15px;
    }
    
    /* single movie page styles */
    #singleMovie .row {
        margin-top: 30px;
    }
    #singleMovie .poster {
        float:none;
        margin: 0 auto;
        width: 60%;
    }
    #singleMovie .column2 {
        margin-top: 10px;
        width: 100%;
    }
    #singleMovie q {
        text-align: center;
    }
    #singleMovie .border_class {
        padding: 10px;
    }
    
    
    /*end of single movie page styles*/
}


@media only screen and (max-width: 520px) {
/********* SEARCH  ***************/
    
    
    .label-wrapper {
        margin: 0 auto;
        width: 80%;
    }
    
    .search-button {
        margin: 30px 40% 0;
    }
    
}


@media only screen and (max-width: 499px) {
/********* SEARCH  ***************/
    .search-genres {
        width: 100%;
    }
    
    #toSimple {
        margin-left: 7%;
    }
    
    #advSearchBtn {
        margin-left: 7%;
    }
}

@media only screen and (max-width: 370px) {
/********* SEARCH  ***************/
    .label-wrapper {
        width: 100%;
        height: 100px;
        margin-top: 15px;
        float: left;
    }
    .search-radio-label {
        display: block;
        clear: both;
        margin: 0;
        width: 100%;
    }
    
    .search-radio-label:first-of-type {
        width: 100%;
    }
    
    .clear-fix {
        height: 10px;
    }
    
    
}