@media only screen  and (max-width: 1153px) {
    label {
        margin: 17px 0 0 0;
        height: 32px;
        line-height: 9px;
    }
    
    .search-button {       
        margin: 8px 70px 0 0px;
        height: 31px;
        font-size: 1em;
        
    }
    
}

@media only screen and (min-width: 340px) and (max-width: 740px) {
    body {
        width: 90%;
        margin: 0 auto;
    }
    
    #header {
        width: 100%;
        height: 408px;
        position: relative;
    }
    /** menu **/
    #menuMovies ul {
        display: none;
    }
    
    
    #mainMenu {
        height: 263px;
    }
    
    .menuButton {
        display: block;
        width: 100%;
    }
    
    .toggle-menu {
        width: 30px;
        height: 30px;
    }
    
    
    
/*    SEARCH     */
    .resp-search {
        display: block;
        width: 100%;
        height: 40px;
        margin: 5px auto;
    }
    
    .search-input {
        margin-top: 8px;
        margin-left: 8.141321044546851%;
        width: 82.94930875576037%;
    }
    
    label {
        margin-top: 8px;
        width: 20%;
    }
    
    label:first-of-type {
        margin-left: 10.664587%;
        width: 25%;
    }
    
    .search-button {
        margin: 8px 0px 0 0;
        height: 32px;
        font-size: 1em;
    }
    
    
    #favSection {
        width: 40%;
        left: 60%;
    }
    
}