#searchSection1 {
    box-sizing: content-box !important;
    width: 100px !important;
    height: 200px !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    border: #000000 !important;
    z-index: 10 !important;
}
.radiio {
 float: left;
}