.search-wrapper {
    height: 0px;
    opacity: 0;
    clear: both;
    background: #C5E2FF;
    position: static;
    margin: 0 auto;
    overflow: visible;
} 

.search-input {
    margin: 32px 14px 0 30px;
    border: none;
    height: 39px;
    width: 430px;
    padding: 12px;
    color: #555;
    font-size: 1.1em;
    outline: none;
    float: left;
    z-index: 0;
}

/*
.by {
    margin-right: 14px;
    font-size: 1.1em;
    color: #777;
    float: left;
    margin: 9px 14px 0 0;
}
*/

.search-radio {
    display: none;
}

.search-radio-label { /****  delete #searchWrapper selector  *****/
    height: 39px;
    width: 100px;
    cursor: pointer;
    background: #6EC1E0;
    padding: 11px;
    float: left;
    color: #fff;
    text-align: center;
    margin-top: 32px;
    line-height: 21px;
}

.search-radio-label:first-of-type {
    width: 150px;
    margin-left: 0.9265959921016958%;
}

.search-radio-label:hover {
    background: #01aadd;
}

input[type="radio"]:checked + .search-radio-label {
    background: #0382a8;
}

.search-button {
    float: left;
    margin: 32px 0 0 24px;
    border: none;
    outline: none;
    width: 78px;
    height: 39px;
    font-size: 1.5em;
    color: #fff;
    background: #FCA840;
    cursor: pointer;
}

.search-button:hover {
    background: #FF8D00;
}

/** advanced **/

.genre {
    display: inline-block;
    width: 140px;
}
.genre label {
    font-size: 0.95em;
    cursor: pointer;
    color: #006E96;
}

.genre label:hover:before {
    background: #0382A8;
}

.genre label:before {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    background: #f2f2f2;
    margin: 0 8px 0 0;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
}

.genre input[type="checkbox"] {    
    display: none;
}
.genre input[type="checkbox"]:checked + label:before {
    background-color:  #FCA840;
    background-size: 7px 7px;
}
#advancedWrapper {
    margin: 0 auto;
    width: 90%;
}

.search-selects {
    float: left;
    margin-left: 2%;
}

.select {
    height: 24px;
    width: 140px;
    margin-right: 10px;
    border: none;
    outline: none;
    color: #006E96;
    padding-left: 10px;
/*    background: url(../images/title-arrow.png) no-repeat right #fff;*/
    overflow: hidden;
}

.search-genres {
    width: 59%;
    float: left;
}

#advSearchBtn {
    width: 100px;
    font-size: 1em;
    margin: 0;
    margin: 28px 0 0 50px;
    display: block;
}

.cat-label {
    font-size: 0.8em;
    margin: 5px 0px -1px;
    color: #65899E;
    padding-left: 6px;
}

.search-genres .cat-label:first-child {
    border-bottom: 1px solid #96C3DD;
    width: 96%;
    margin-bottom: 6px;
}

#toSimple {
    border: none;
    background: #6EC1E0;
    color: #fff;
    width: 100px;
    height: 39px;
    margin: 28px 0 0 50px;
    display: block;
    outline: none;
}
#toSimple:hover {
    background: #01aadd;
}

.srch-buttons-wrapper {
    float: left;
}
