.search-wrapper {
    height: 0px;
    opacity: 0;
    clear: both;
    background: #C5E2FF;
    position: static;
    margin: 0 auto;
    overflow: hidden;
} 

.search-input {
    margin: 32px 14px 0 30px;
    border: none;
    height: 39px;
    width: 430px;
    padding: 12px;
    color: #555;
    font-size: 1.1em;
    outline: none;
    float: left;
    z-index: 0;
}

/*
.by {
    margin-right: 14px;
    font-size: 1.1em;
    color: #777;
    float: left;
    margin: 9px 14px 0 0;
}
*/

.search-radio {
    display: none;
}

.search-radio-label { /****  delete #searchWrapper selector  *****/
    height: 39px;
    width: 100px;
    cursor: pointer;
    background: #6EC1E0;
    padding: 11px;
    float: left;
    color: #fff;
    text-align: center;
    margin-top: 32px;
    line-height: 21px;
}

.search-radio-label:first-of-type {
    width: 150px;
    margin-left: 0.9265959921016958%;
}

.search-radio-label:hover {
    background: #01aadd;
}

input[type="radio"]:checked + .search-radio-label {
    background: #0382a8;
}

.search-button {
    float: left;
    margin: 32px 24px;
    border: none;
    outline: none;
    width: 78px;
    height: 39px;
    font-size: 1.5em;
    color: #fff;
    background: #FCA840;
    cursor: pointer;
}

.search-button:hover {
    background: #FF8D00;
}
