.search-wrapper {
    height: 0px;
    opacity: 0;
    clear: both;
    background: #C5E2FF;
    position: static;
    margin: 0 auto;
    overflow: hidden;
} 

form {    
    position: relative;
    top: 32px;
}

.search-input {
    margin: 0 14px 0 30px;
    border: none;
    height: 39px;
    width: 430px;
    padding: 12px;
    color: #555;
    font-size: 1.1em;
    outline: none;
    float: left;
    z-index: 0;
}

.by {
    margin-right: 14px;
    font-size: 1.1em;
    color: #777;
    float: left;
    margin: 9px 14px 0 0;
}

.search-radio {
    width: 0;
}

label {
    cursor: pointer;
    background: #6EC1E0;
    padding: 11px;
    float: left; 
    color: #fff;
    text-align: center;
}

label:hover {
    background: #01aadd;
}

.search-button {
    float: left;
    margin: 0 24px;
    border: none;
    outline: none;
    width: 74px;
    height: 40px;
    font-size: 1.5em;
    color: #fff;
    background: #FCA840;
    cursor: pointer;
}

.search-button:hover {
    background: #FF8D00;
}
