#Actor {
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.97);
    top: 0;
    left: 0;

}
#offOnBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    border-radius: 10px;
    outline:0;
}
#offOnBtn {
    background-image: url(../images/closeBtn1.png);
}
.actorPic {
    float: left;
    margin: 3%;
    width: 20%;
    height: 35%;

}
.actorInfo {
    width: auto;
    margin-top: 3%;
    float: left;
}
.actorInfo p {
    margin: 30px;
}
.actorInfo p:hover {
    cursor: default;
    font-weight: bold ;
}
.infoTags {
    font-weight: bold ;
}
.biography {
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
    float: left;
    border: 1px solid #000000;
    border-bottom: none;
    border-top: none;
    font-size: 0.9em;
    width: 70%;
    height: 40%;
    overflow: hidden;
    position: relative;
    padding: 5px;
}
.biography p{
    font-weight: bold;
    color: #000000;
    position: absolute;
    top: 5px;
    bottom: 0px;
    left: 5px;
    right: -15px;
    overflow: auto;
}
.biography:hover {
    opacity: 0.8;
    cursor: default;
}
#castMovies {
    position: absolute;
    width: 30%;
    height: 40%;
    border: 1px solid #cccccc;
    top: 1%;
    right: 7%;
    overflow: scroll;
    text-align: center;
}
#castMovies p{
    position: fixed;
    padding: 0.3%;
    z-index: 12;
    background: #cccccc;
    opacity: 0.9;
    display: block;
    font-size: 1.3em;
}
.castMoviesBlock {
    overflow: auto;
    border: 1px solid #cccccc;
    background: #C5E2FF;
}

@media only screen  and (max-width: 1153px) {

}
@media only screen and (max-width: 970px) {
    .biography {
        width: 90%;
        clear: both;
        height: 60%;
        margin: 10px;
    }
}
@media only screen and (max-width: 740px) {
    .actorPic {
        float: left;
        margin: 10px;
        margin-right: 0%;
        width: 200px;
        height: 290px;

    }
    .actorInfo {
        width:  50%;
        margin-top: 5px;
        float: left;
        font-size: 0.8em;
    }
    .biography {
        width: 90%;
        height: 50%;
        background: none;
        margin-tom: 0px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .actorPic {
        float: left;
        margin: 10px;
        margin-right: 0%;
        width: 130px;
        height: 190px;

    }
    .biography {
        width: 90%;
        clear: both;
        height: 60%;
        margin: 10px;
    }
    .actorInfo {
        width: 45%;
        margin-top: 10px;
        float: left;
    }
    .actorInfo p {
        margin: 20px 10px 10px 10px;
    }
    #offOnBtn {
        background-image: url(../images/closeBtn2.png);
        width: 25px;
        height: 25px;
        border-radius: 15px;
    }

}